@use "../utils/mixins" as *;

.description {
    &__img {
        max-width: 320px;
        margin-inline: auto;
        margin-top: -130px; 

        img {
            width: 100%;
        }
    }

    &__text {
        padding: 130px 10px 140px;
        position: relative;
        overflow: hidden;

        p {
            max-width: 320px;
            margin-inline: auto;
        }

        span {
            font-size: 26px;
            line-height: 150%;
            font-weight: 600;
            display: block;
            margin-top: 17px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 424px;
            height: 479px;
            transform: translate(-50%, -50%);
            background: url("../img/desc_bg.svg") no-repeat center;
            background-size: contain;
            z-index: -1;
        }
    }

    &__apps {
        max-width: 320px;
        margin-inline: auto;
        text-align: center;
        padding-bottom: 86px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-bottom: 35px;
            margin-top: 40px;
        }
    }

    &__app {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }
}