@use "../utils/mixins" as *;

.description {

    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 454px;
        height: 454px;
        background: url(../img/description_bg.svg) bottom right;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 20px;
    }

    @include desktop {
        display: flex;
        align-items: center;
        max-width: 1350px;
        margin-inline: auto;
        padding-left: 65px;
        position: relative;
        padding-bottom: 65px;
        overflow: visible;

        &::after {
            width: 679px;
            height: 640px;
            right: 0;
            left: auto;
            transform: translateX(0);
            background-position: 0 0;
        } 
    }

    &__img {
        max-width: 320px;
        margin-inline: auto;
        margin-top: -130px; 

        img {
            width: 100%;
        }

        @include desktop {
            margin: 0;
            max-width: 525px;
            width: 525px;
            padding-left: 55px;
            z-index: 1;
        }
    }

    &__text {
        padding: 130px 10px 140px;
        position: relative;
        overflow: hidden;

        @include desktop {
            overflow: visible;
        }

        p {
            max-width: 320px;
            margin-inline: auto;

            @include desktop {
                max-width: 270px;
            }
        }

        span {
            font-size: 26px;
            line-height: 150%;
            font-weight: 600;
            display: block;
            margin-top: 17px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 424px;
            height: 479px;
            transform: translate(-50%, -50%);
            background: url("../img/desc_bg.svg") no-repeat center;
            background-size: contain;
            z-index: -1;

            @include desktop {
                width: 467px;
            }
        }
    }

    &__apps {
        max-width: 320px;
        margin-inline: auto;
        text-align: center;
        padding-bottom: 86px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            max-width: 270px;
            text-align: left;
            align-self: flex-end;
            align-items: flex-start;
        }

        p {
            margin-bottom: 35px;
            margin-top: 40px;
        }
    }

    &__app {
        display: flex;
        align-self: center;

        &:hover {
            opacity: 0.6;
        }

        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }
}