@use "../utils/mixins" as *;

.header {
    padding: 37px 0 41px;
    display: flex;
    justify-content: center;
    // background: radial-gradient(50.00% 81.67% at 50.00% 100.00%, rgba(246, 243, 239, 0.00) 0%, #F6F3EF 100%);
    background-color: #F7F4F0;


    @include desktop {
        padding: 42px 0 51px;
    }

    &__logo {
        width: 90px;
        height: 25px;
    }
}