@use "../utils/mixins" as *;

.information {
    padding: 0 10px;
    // width: 320px;
    margin-inline: auto;

    @include desktop {
        // width: 770px;
        padding: 0;
        padding-top: 46px;
    }

    &__item {
        border-radius: 30px;
        background: #F6F3EF;
        padding: 42px 30px 0;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            margin-right: 30px;
        }
        

        @include desktop {

            &.slick-slide {
                display: flex;
                width: 770px;
                padding: 50px 100px 0;
            }
        }

        &-wrap {
            @include desktop {
                width: 270px;
                padding-bottom: 80px;
                padding-top: 25px;
            }
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 5px;
    }

    &__text {
        margin-bottom: 59px;

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__img {

        position: relative;
        width: 240px;
        margin-inline: auto;

        @include desktop {
            margin: 0;
        }

        img {
            width: 100%;
        }

        &::after,
        &::before { 
            content: "";
            position: absolute;
            background: #EBE5DE;
            height: 287px;
            right: -30px;
            bottom: 0;
            width: 30px;
            border-radius:  0 15px 0 0;
            
        }

        &::before {
            height: 258px;
            left: auto;
            left: -30px;
            border-radius: 15px 0 0 0;
            
        }
    }
}

// Slick carousel

.slick-dots {
    bottom: auto;
    top: -58px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);

    @include desktop {
        top: -10px;
    }
}

.slick-dots li {
    height: 6px;
    width: 6px;

    &.slick-active {
        height: 12px;
        width: 12px;
    }
}

.slick-dots li button {
    width: 6px;
    height: 6px;
}

.slick-dots li button:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #EBE5DE;
    border-radius: 50%;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li.slick-active button:before {
    width: 18px;
    background-color: #B68756;
    border-radius: 5px;
}
